@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sansita+Swashed:wght@500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    background-color: black;

}  

main {
    flex: 1 0 auto;
}

/*Game Menu Area */
#menu-container {
    width: 80vmin;
    height: 90vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid;
    position: relative;
    background-color: black;
    border: 2px #6ff562 solid;
    margin-top: 20px;
    
}


.game-details {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
}

.game-menu {
    display: inline-block;
}

.how-to-play {
   
    color: #ffff;
    
}

.game-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 4rem;
    color: #6ff562;
   
}

.snake-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

 img {
    border: 0;
    width: 15rem;
    height: 15rem;
    margin-bottom: 20px;
    
 }
.game-board {
    border: 3px solid;
    z-index: 0;
}

.game-menu {
    text-align: center;
}

.row {
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.level {
    color: #ffff;
    margin-top: 30px;
}

.difficulty-button {
    padding: 1vh 2vw;
    border-radius: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vh;
    border: none;
    cursor: pointer;
    margin: 0.8em;
    background-color: #6ff562;
}

.difficulty-button:hover {
    background-color: #ffff;
}

/* Game Screen */




/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline-block;
    padding: 20px;
  }

  .social-networks i {
    font-size: 30px;
    margin: 1%;
    padding: 4%;
    color: #ffff;;
    
  } 

  /* mouse over link */
.social-networks li:hover {
    cursor: pointer;
}
