
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sansita+Swashed:wght@500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Inter, sans-serif;
    background-color: black;

}  

main {
    flex: 1 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

/*Game Menu Area */
#menu-screen {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid;
    position: relative;
    background-color: black;
    border: 2px #6ff562 solid;
    margin-top: 50px;
    
}


.game-details {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
}

.game-menu {
    display: flex;
    flex-direction: column;
}

.how-to-play {
    color: #ffff;
}

.game-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 4rem;
    color: #6ff562;
}

.snake-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 1em;
}

img {
    display: block;
    height: 100%;
    object-fit: contain;
}
.game-board {
    border: 3px solid;
    z-index: 0;
}

.game-menu {
    text-align: center;
}

.row {
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.level {
    color: #ffff;
    margin-top: 30px;
}

.difficulty-button {
    padding: 1vh 2vw;
    border-radius: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vh;
    border: none;
    cursor: pointer;
    margin: 0.8em;
    background-color: #6ff562;
}

.difficulty-button:hover {
    background-color: #ffff;
}

/* Game Screen */
.hidden {
    display: none;
  }

  .game-screen {
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  
  #game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  /*Game grid */
  .game-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 31rem;
    height: 31rem;
    padding: 0.2rem;
    border: solid 2px #6ff562;
    margin: 0 auto;
    flex-direction: row;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
}

/* All boxes in the table */
.box {
    width: 3rem;
    height: 3rem;
    background: #000;
    border: solid 1px ;
}

/*Game Score */

.score-box {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
}
  .score {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto 5px;
    background-color: #6ff562;
    margin-bottom: 5px;
  }
  
  .play-or-pause-control {
    position: fixed; 
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 2;
  }
  
  .play-or-pause-control .hide {
    display: none;
  }
  
  .play-or-pause-control i {
    font-size: 30px;
    color: #6ff562;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .play-or-pause-control i:hover {
    color: #fff;
  }

  .snake {
    background-color: #6ff562;
    background-size: cover;
  }

  .apple {
    background-color: #F5301B;
  }

/* Controls */
#controls {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #000;
  color: #6ff562;
  font-size: 30px;
  border-right: 10px solid #444;
  border-bottom: 10px solid #444;
  border-left: 10px solid #333;
  border-top: 10px solid #333;
  display: inline-block;
  margin: 10px;
  transition: all 0.2s ease;
  user-select: none;
}

.arrow:hover {
  background-color: #6ff562;
  color: #000;
}

.arrow:active {
  border-bottom: 8px solid #444;
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.pressed {
  border-bottom: 8px solid #444;
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

  /* Game Over Screen */
  #game-over-screen {
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  color: #6ff562;

  /* New styles for centering */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    

}
.modal {
  position: relative;
  background-color: #000;
  text-align: center;
  color: var(--background);
  margin: 15% auto;
  padding: 3rem;
  border: 3px solid #6ff562;
  width: 80%;
  margin-top: 25%;
}

.close {
  color: #6ff562;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    font-weight: bold;
}
  .modal-header {
    justify-content: center;
    text-align: center;
  }

  #modal-result {
    justify-content: center;
    text-align: center;
  }


/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline-block;
    padding: 20px;
  }

  .social-networks i {
    font-size: 30px;
    margin: 1%;
    padding: 4%;
    color: #6ff562;
    
  } 

  /* mouse over link */
.social-networks li:hover {
    cursor: pointer;
    color: #ffff;
}

/*Desktop Message for users on tablet or mobie devices */
.game-grid-play-on-desktop-message {
  display: none;
}


/* ----MEDIA---- */
@media screen and (max-width: 536px) {

.game-container::before{
content: "*To play the game, please open the app on desktop";
color: red;
display: flex;
justify-content: center;
align-items: center;
font-weight: 900;
font-style: italic;
width: 100%;
}
}