
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sansita+Swashed:wght@500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: Inter, sans-serif;
    background-color: black;

}  

main {
    flex: 1 0 auto;
}

/*Game Menu Area */
#menu-screen {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid;
    position: relative;
    background-color: black;
    border: 2px #6ff562 solid;
    
    
}


.game-details {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
}

.game-menu {
    display: flex;
    flex-direction: column;
}

.how-to-play {
    color: #ffff;
}

.game-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-bottom: 4rem;
    color: #6ff562;
   
}

.snake-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 1em;
}

 img {
    display: block;
    height: 100%;
    object-fit: contain;
 }
.game-board {
    border: 3px solid;
    z-index: 0;
}

.game-menu {
    text-align: center;
}

.row {
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}

.level {
    color: #ffff;
    margin-top: 30px;
}

.difficulty-button {
    padding: 1vh 2vw;
    border-radius: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5vh;
    border: none;
    cursor: pointer;
    margin: 0.8em;
    background-color: #6ff562;
}

.difficulty-button:hover {
    background-color: #ffff;
}

/* Game Screen */
.hidden {
    display: none;
  }

  .game-screen {
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  
  #game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  /*Game grid */
  .game-grid {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 30rem;
    border: solid 2px #6ff562;
    margin: auto;
    flex-direction: row;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
}

/* All boxes in the table */
.box {
    width: 3rem;
    height: 3rem;
    border-radius: 35%;
    background: white;
    border: solid 1px #16a085;
    
}

/*Game Score */

.score-and-high-score {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
  .score {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto 5px;
    background-color: #6ff562;
    margin-bottom: 5px;
  }
  
  .high-score {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto 5px;
    background-color: #6ff562;
    margin-bottom: 5px;
  }
  
  /*Play or Pause option */
  .play-or-pause-control {
    top: 10px;
    left: 100px;
    color: #fff;
  }
  
  .play-or-pause-control .hide {
    display: none;
  }

/* Controls */
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  #controls i {
    margin: 0 5px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    
  }

  /* Game Over Screen */
  #game-over-screen {
    display: none;
    /* Modal is hidden by default */
   
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline-block;
    padding: 20px;
  }

  .social-networks i {
    font-size: 30px;
    margin: 1%;
    padding: 4%;
    color: #6ff562;
    
  } 

  /* mouse over link */
.social-networks li:hover {
    cursor: pointer;
    color: #ffff;
}
